html {
  font-family: Arial, Helvetica, sans-serif; 
  display: inline-block; 
  text-align: center;
}
h1 {
  font-size: 1.8rem; 
  color: white;
}
p { 
  font-size: 1.4rem;
}
.topnav { 
  overflow: hidden; 
  background-color: #0A1128;
}
body {  
  margin: 0;
}
.reading { 
  font-size: 2.8rem; 
}

.content { 
  padding: 5%;
}
.card-grid { 
  max-width: 1200px; 
  margin: 0 auto; 
  display: grid; 
  grid-gap: 2rem; 
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.card { 
  background-color: white; 
  box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
  padding: 20px;
  position: relative;
}

.card-title { 
  font-size: 1.2rem;
  font-weight: bold;
  color: #034078
}

.button {
  background-color: #F44336;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
  width: 20%;
}

.multibutton {
  background-color: #F44336;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  border-radius: 4px;
  width: 20%;
}

.button-row {
  display: flex;
  justify-content: center;
  margin: 0.25 em;
}

.button-row button {
  flex: 1;
  margin: 0.25em;
}

.lines-container {
  position: relative;
  width: 80%;
  height: 80vmin;
  max-height: 600px;
  margin: 0 auto;
  background-image: url('crossing.jpg');
  background-size: 40%;
  background-position: center;
  background-repeat: no-repeat;
}
.corner {
  position: absolute;
  width: 20%;
  height: 20%;
  object-fit: contain;
}
.top {
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.bottom {
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
}
.left {
  left: 15%;
  top: 50%;
  transform: translateY(-50%);
}
.right {
  right: 15%;
  top: 50%;
  transform: translateY(-50%);
}
.freq {
  margin-bottom: 20px;
}